# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env*
.venv/
venv/

# # Poetry
# poetry.lock

# Alembic
alembic/versions/*.pyc

# FastAPI
instance/

# Node/Vite/React
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.dist
.dist-ssr

# # VS Code
# .vscode/

# macOS
.DS_Store

# Docker
*.log
docker-compose.override.yml

# Misc
*.sqlite3
*.db
*.swp
*.swo
*.bak
*.tmp

# Test/coverage
.coverage
htmlcov/
coverage/
pytest_cache/

# Cypress
cypress/screenshots
cypress/videos

# System
Thumbs.db
.idea/
*.iml

# Conductor
conductor/
